aniso8601==8.0.0
autopep8==1.4.4
Babel==2.7.0
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
Django==2.2.24
django-anymail==7.0.0
django-appconf==1.0.3
django-autoslug==1.9.6
django-cors-headers==3.1.1
django-extensions==2.2.5
django-filter==2.2.0
django-filters==0.2.1
django-graphql-extensions==0.0.6
django-graphql-jwt==0.2.2
django-imagekit==4.0.2
django-model-utils==3.2.0
django-mysql==3.2.0
django-queryset-csv==1.0.2
django-storages==1.7.2
djangorestframework==3.10.3
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.3.0
dj-database-url==0.5.0
drf-yasg==1.17.0
factory-boy==2.12.0
Faker==2.0.3
google-api-core==1.14.3
google-api-python-client==1.7.11
google-auth==1.7.0
google-auth-httplib2==0.0.3
google-cloud-core==1.0.3
google-cloud-storage==1.22.0
google-resumable-media==0.5.0
googleapis-common-protos==1.6.0
graphene==2.1.8
graphene-django==2.6.0
graphene-file-upload==1.2.2
graphene-permissions==1.1.2
graphql-core==2.2.1
graphql-relay==2.0.0
gunicorn==20.0.0
html5lib==1.0.1
httplib2==0.14.0
idna==2.8
inflection==0.3.1
mysqlclient==1.4.5
oauth2client==4.1.3
olefile==0.46
packaging==19.2
pendulum==2.0.5
pilkit==2.0
Pillow==6.2.1
Pint==0.9
pip-review==1.0
promise==2.2.1
protobuf==3.10.0
psycopg2==2.8.4
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycleanup==0.0.1
pycodestyle==2.5.0
pyhumps==1.3.1
PyJWT==1.7.1
PyMySQL==0.9.3
pyparsing==2.4.4
PyPDF2==1.26.0
pypng==0.0.20
PyQRCode==1.2.1
python-dateutil==2.8.1
python-decouple==3.1
python-http-client==3.2.1
pytz==2019.3
pytzdata==2019.3
reportlab==3.5.32
requests==2.22.0
rsa==4.0
Rx==3.0.1
sendgrid==6.1.0
singledispatch==3.4.0.3
six==1.13.0
sqlparse==0.3.0
stripe==2.40.0
text-unidecode==1.3
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.25.6
webencodings==0.5.1
xhtml2pdf==0.2.3
